@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;
    font-size: 62, 5%;
}

.container_grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "header"
        "main"
        "section"
        "footer";
}

/**estilos para index**/

/**estilos del header e hijos**/

.header {
    grid-area: header;
    background-image: url(../images/main.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 30vh;
}

.nav {
    width: 100%;
    height: 15%;
    background-color: rgb(19, 18, 18);
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    gap: 10px;
}

.header__nav__a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 100;
}

#header_text {
    color: white;
    font-size: 3rem;
    text-align: center;
    overflow: hidden; 
  white-space: nowrap; 
  margin: 0 auto; 
  letter-spacing: .15em; 
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  

  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(255, 255, 255); }
  }


/**main**/

.main {
    grid-area: main;
    background-image: linear-gradient(to top, #e6b980 0%, #eacda3 100%);
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
}

.exhibitions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.exhibitions img {
    width: 55%;
    height: 65%;
    object-fit:contain;
    transition: height 1s, width 1s;
}
.exhibitions img:hover{
    width:  71%;
    height: 90%;
    opacity: 90%;
}

/**section 2**/

.section__about {
    grid-area: section;
    background-image: linear-gradient(to top, #e6b980 0%, #eacda3 100%);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.title__about {
    font-style: italic;
}

.text__about {
    font-weight: 200;
}

/**footer**/

.footer {
    grid-area: footer;
    background-color: rgb(19, 18, 18);
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: space-between;
}

.logo {
    width: 70%;
    height: 70%;
    object-fit: cover;
    position: relative;
    top: 17%;
}

.mapa {
    width: 20%;
    height: 100%;
}


.botonera {
    margin: 50px;
}

.footer__button {
 padding: .75rem 1.25rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: .15rem;
  z-index: 1;
  text-decoration: none;
  transition: all 500ms ease;
 
}


.footer__button:hover{
    color: #ff7a59;
    border: #ff7a59 solid 1px;
     background:#fff;
}


/** estilos para collection **/
.title{
    font-size: x-large;
    color: black;
    text-align: center;
    position: relative;
    top: 90%;
}

.container__collection{
    background-color: rgb(218, 175, 123);
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.photos__collection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.img__1{
    width: 50%;
    height: 90%;
    object-fit: cover;
}

/**estilos para exhibitions**/

.section__two{
    grid-area: main;
    background-color: rgb(226, 152, 118);
    width: 100%;
}

#text__exhibitions{
    color:white;
    font-style: italic;
    font-size:xx-large;

}

/** estilos para about**/
.section__about__description{
    grid-area: main;
    background-color: rgb(226, 152, 118);
    width: 100%;

}

/**estilos para contact**/
.contact{
    grid-area: main;
    background-color: rgb(226, 152, 118);

}

@media screen and (max-width: 720px){
    .header__nav__a {
        font-size: 0.8rem;
    }

    #header_text {
        font-size: 2rem;
    }

    .main {
        grid-template-columns: repeat(1, 1fr);
    }
    
    .text__about {
        font-weight: 200;
        font-size: smaller;
    }
    
    .logo {
        width: 190%;
        height: 60%;
    }

    .mapa {
        width: 30%;
        height: 50%;
        position: relative;
        left: 20%;
    }
    .botonera {
        margin: 30px;
        position: relative;
        left: 20%;
    }
  .title{
    font-size: medium;
  }

  .description{
    font-size: smaller;
  }

  .container__collection{
    grid-template-columns: repeat(1, 1fr);
}

}