
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.container_grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "header"
        "main"
        "section"
        "footer";
}

/**estilos para index**/

/**estilos del header e hijos**/

.header {
    grid-area: header;
    background-image: url(../images/main.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 30vh;
    opacity:90%;
}

#header_text {
    color: white;
    font-size: 3rem;
    text-align: center;
    overflow: hidden; 
  white-space: nowrap; 
  margin: 0 auto; 
  letter-spacing: .15em; 
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  

  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(255, 255, 255); }
  }


/**main**/

.main {
    grid-area: main;
    background-image: linear-gradient(to top, #e6b980 0%, #eacda3 100%);
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
}

.exhibitions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.exhibitions img {
    width: 55%;
    height: 65%;
    object-fit:contain;
    transition: height 1s, width 1s;
}
.exhibitions img:hover{
    width:  71%;
    height: 90%;
    opacity: 90%;
}

/**section 2**/

.section__about {
    grid-area: section;
    background-image: linear-gradient(to top, #e6b980 0%, #eacda3 100%);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.color{
    background-image: linear-gradient(to top, #e6b980 0%, #eacda3 100%);
}

/**footer**/

.footer {
    grid-area: footer;
    background-color: rgb(19, 18, 18);
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: space-between;
}

.logo {
    width: 50%;
    height: 90%;
    object-fit: cover;
    position: relative;
    top: 17%;
}

.mapa {
    width: 50%;
    height: 90%;
}



.footer__button {
 padding: .75rem 1.25rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: .15rem;
  z-index: 1;
  text-decoration: none;
  transition: all 500ms ease;
 
}


.footer__button:hover{
    color: #ff7a59;
    border: #ff7a59 solid 1px;
     background:#fff;
}


/** estilos para collection **/
.title{
    font-size: x-large;
    color: black;
    text-align: center;
    position: relative;
    top: 90%;
}

.container__collection{
    background-color: rgb(218, 175, 123);
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.photos__collection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.img__1{
    width: 50%;
    height: 90%;
    object-fit: cover;
}


/** estilos para about**/
.section__about__description{
    grid-area: main;
    background-color: rgb(226, 152, 118);
    width: 100%;

}

/**estilos para contact**/

.color{
    background-color: rgb(226, 152, 118);
}

@media screen and (max-width: 720px){

    #header_text {
        font-size: 2rem;
    }

    .main {
        grid-template-columns: repeat(1, 1fr);
    }
    
    .text__about {
        font-weight: 200;
        font-size: smaller;
    }



  .title{
    font-size: medium;
  }

  .description{
    font-size: smaller;
  }

  .container__collection{
    grid-template-columns: repeat(1, 1fr);
}

}