.section__about__description {
    grid-area: main;
    background-color: #e3e7ee;
    width: $width;
    height: 82vh;
  @include flexbox (row, center, center);
    padding-left: 15px;

    .div__card {
        width: $width/2;
        height: 45%;
        
    }

    .div__card:hover {
        opacity: 0.5;
    }

    .div__text {
        @include w-h (95%, 55%);
        background-color: map-get($map-colors, gr );

    }

    .image__card {
        @include w-h (95%, 60%);
        background-size: cover;
    }

    .title__cards {
        font-size:map-get($map-sizes,l);
        font-weight: $fontweight*5;
        position: $position-relative;
        top: 5%;
    }

    .cards__info {
        font-size: 12px;
        font-weight: $fontweight*4;
        top: 5%;
    }


}