.container__collection {
    background-color: rgb(226, 217, 217);
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    .photos__collection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .img__1 {
        width: 50%;
        height: 90%;
        object-fit: cover;
        transition: all 2s;
        opacity: 0.8;
        filter: blur(2px);

    }

    &:hover {
        opacity: 3;
        -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8);
        filter: blur(0px);
    }
}