.container__collection {
    background-color: #e3e7ee;
    width: $width;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    .photos__collection {
        @include flexbox (column, center, center);
        width: 60%;
        height: 90%;
        margin-top: 10%;
        margin-left: 20%;
    }

    .img__1 {
        width: 80%;
        height: 80%;
        object-fit: cover;
        transition: 2s;
        filter: blur(2px);

    }

    .img__1:hover {
        opacity: 3;
        filter: blur(0px);

    }

    .description {
        font-family: 'Roboto', sans-serif;
        font-size: map-get($map-sizes, xs);
        font-weight: 400;
        text-decoration: underline;
    }

    .link{
        color: black;
    }
}