/** footer **/
.footer {
    grid-area: footer;
    background-color: map-get($map-colors, pe);
    width: 100%;
    @include flexbox (center,center);
    align-content: space-between;

    .logo {
        width: 50%;
        height: 80%;
        object-fit: cover;
        border-radius: 5px;
        position: relative;
        top: 13px;
        right: 50px;
    }

    .instructions__text {
        color: map-get($map-colors, w);
        font-size: smaller;
        position: relative;
        top: 8px;
    }

    .mapa {
        width: 50%;
        height: 90%;
        border-radius: 8px;
    }

    .footer__button {
        padding: .75rem 1.25rem;
        color: map-get($map-colors, w);
        text-transform: uppercase;
        font-size: 1rem;
        letter-spacing: .15rem;
        z-index: 1;
        text-decoration: none;
        transition: all 500ms ease;

        &:hover {
            @extend.footer__button;
            color: map-get($map-colors, bla);
            border: black solid 1px;
            background: map-get($map-colors, gr);
            border-radius: 11px;
        }

    }
}