
.footer {
    grid-area: footer;
    background-color: map-get($map-colors, pe );
    width: $width;
    display: flex;
    justify-content: center;
    align-content: space-between;

    .logo {
        width: $width/2;
        height: 80%;
        object-fit: cover;
        border-radius: 5px;
        position: $position-relative;
        top: 13px;
        right: 50px;
    }

    .instructions__text {
        color: map-get($map-colors, w );
        font-size: map-get($map-sizes,xs);
        position: $position-relative;
        top: 8px;
    }

    .mapa {
        width: $width;
        height: 50%;
        border-radius: 8px;
    }

    .image {
        @include w-h (30px, 30px);
        animation: bounce 2s infinite;
    }

    @keyframes bounce {

        0%,
        25%,
        50%,
        75%,
        100% {
            transform: translateY(0);
        }

        40% {
            transform: translateY(-30px);
        }

        60% {
            transform: translateY(-24px);
        }
    }

}