* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container_grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "header"
        "main"
        "section"
        "footer";
}

@media screen and (max-width: 730px) {

    #header_text {
        font-size: 2rem;
    }

    .main {
        grid-template-columns: repeat(1, 1fr);
    }

    .text__about {
        font-weight: 200;
        font-size: smaller;
    }

    .logo {
        position: relative;
        left: 115px;
    }

    .mapa {
        position: relative;
        left: 128px;
    }

    .instructions__text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .title {
        font-size: medium;
    }

    .description {
        font-size: smaller;
    }

    .container__collection {
        grid-template-columns: repeat(1, 1fr);
    }

}