.header {
    grid-area: header;
    width: $width;
    height: 18vh;
    background-color: map-get($map-colors, pe );

    .n__color{
        color: map-get($map-colors, pe );
    }

    .logo__one{
        width: $width/2;
        height:  $width/2;
    }
    .font__nav {
        font-family: 'Roboto', sans-serif;
        font-weight: 200;
    }

}