/** main **/

.main {
    grid-area: main;
    background-image: linear-gradient(to top, #e6b980 0%, #eacda3 100%);
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;

    .exhibitions {
        @include flexbox (column,center,center);
    }

    img {
        width: 55%;
        height: 65%;
        object-fit: contain;
        transition: height 1s, width 1s;

        &:hover {
            width: 71%;
            height: 90%;
            opacity: 90%;
        }
    }

}

/** section **/

.section__about {
    grid-area: section;
    background-image: linear-gradient(to top, #e6b980 0%, #eacda3 100%);
    width: 100%;
    @include flexbox (column,center,center);

    .title {
        font-size: xx-large;
        font-style: oblique;
    }

    .text {
        font-style: inherit;
        font-size: medium;
    }
}