.main {
    grid-area: main;
    background-image: url(../images/main.jpg);
    background-size: cover;
    background-position: $width/2 $width/2;
    width: $width;
    height: 82vh;
    opacity: 90%;

    .div__welcome {
        background-color: map-get($map-colors, w );
        @include w-h (17%, 80%);
        position:$position-relative;
        top: 10%;
        left: 70%;
        border-radius: 3px;
        box-shadow: 4px 4px 4px ;
    }



    .welcome {
        font-weight: $fontweight*5;
        color: map-get($map-colors, r );
        padding-left: 7px;
        animation: bounce 2s infinite;

    }

    @keyframes bounce {

        0%,
        25%,
        50%,
        75%,
        100% {
            transform: translateY(0);
        }

        40% {
            transform: translateY(-30px);
        }

        60% {
            transform: translateY(-24px);
        }
    }

    .line {
        height: 1.5px;
        background:map-get($map-colors, r );
        width: 80%;
    }

    .text {
        font-weight:$fontweight*3;
        padding-left: 7px;

    }

}