$position-relative: relative;
$width: 100%;
$auto: auto;
$fontweight: 100;

$map-colors:(
    w:white,
    pe: #393c41,
    r:rgb(136, 8, 8),
    gr: rgba(0, 0, 0, 0.089),
);

$map-sizes:(
    xs: smaller,
    s: small,
    m: medium,
    l: large,
);


