$width: 100%;
$bgimage: linear-gradient(to top, #e6b980 0%, #eacda3 100%);
$white: white;
$petrol: #393c41;
$fsize: small;
$fssm: smaller;

$map-colors:(
    w:white,
    pe: #393c41,
    bla: black,
    gr: rgba(0, 0, 0, 0.089),
)

