/**variables**/
$width: 100%;
$bgimage: linear-gradient(to top, #e6b980 0%, #eacda3 100%);
$white: white;
$petrol: #393c41;
$fsize: small;
$fssm: smaller;


@import "_header";
@import "_general";
@import "_main_section";
@import "_footer";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container_grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "header"
        "main"
        "section"
        "footer";
}

/**header**/
.header {
    grid-area: header;
    background-image: url(../images/main.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: $width;
    height: 30vh;
    opacity: 90%;

    #text {
        color: $white;
        font-size: 3rem;
        text-align: center;
        overflow: hidden;
        white-space: nowrap;
        margin: 0 auto;
        letter-spacing: .15em;
        animation:
            typing 3.5s steps(40, end),
            blink-caret .75s step-end infinite;
    }
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: $width
    }
}
@keyframes blink-caret {

    to {
        border-color: transparent
    }

    50% {
        border-color: $white;
    }
}

/** main **/

.main {
    grid-area: main;
    background-image: $bgimage;
    width: $width;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;

    .exhibitions {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    img {
        width: 55%;
        height: 65%;
        object-fit: contain;
        transition: height 1s, width 1s;

        &:hover {
            width: 71%;
            height: 90%;
            opacity: 90%;
        }
    }

}

/** section **/

.section__about {
    grid-area: section;
    background-image: $bgimage;
    width: $width;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;

    .title {
        font-size: xx-large;
        font-style: oblique;   /** arreglar**/
    }

    .text {
        font-style: inherit;
        font-size: medium;/** arreglar**/
    }
}
/** footer **/
.footer {
    grid-area: footer;
    background-color: $petrol;
    width: $width;
    display: flex;
    justify-content: center;
    align-content: space-between;
    .logo {
        width: $width/2;
        height: 80%;
        object-fit: cover;
        border-radius: 5px;
        position: relative;
        top: 13px;
        right: 50px;
    }
    .instructions__text {
        color: $white;
        font-size: smaller;
        position: relative;
        top: 8px;
    }
    .mapa {
        width: $width/2;
        height: 90%;
        border-radius: 8px;
    }
    .button {
        padding: .75rem 1.25rem;
        color: $white;
        text-transform: uppercase;
        font-size: 1rem;
        letter-spacing: .15rem;
        z-index: 1;
        text-decoration: none;
        transition: all 500ms ease;
        &:hover {
            color: black;
            border: black solid 1px;
            background: $petrol;
            border-radius: 11px;
        }

    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {

    *{
        overflow-x: hidden;
    }

    #header_text {
        font-size: 2rem;
    }

    .main {
        grid-template-columns: repeat(1, 1fr);
    }

    .title__about{
        font-size: $fsize;
        font-weight: bold;
    }
    .text__about {
        font-weight: 200;
        font-size: $fssm;
    }

.logo{
    object-fit:contain;
}

.instructions__text{
    font-size: $fsize;
}
    .footer__button{
        font-size: 0.8rem;
    }

    .title {
        font-size: medium;
    }

    .description {
        font-size: $fssm;
    }

    .container__collection {
        grid-template-columns: repeat(1, 1fr);
    }
    .font{
        font-size: $fsize;
    }
  

}

 @media screen and (min-width: 300px) and (max-width: 480px) {

    *{
        overflow-x: hidden;
    }

    #header_text {
        font-size: 1.4rem;
    }

  .nav{
    font-size: 0.5rem;
    
  }

  .main {
    grid-template-columns: repeat(1, 1fr);
}

.title__about{
    font-size: $fsize;
    font-weight: bold;
}
.text__about {
    font-weight: 200;
    font-size: $fssm;
}

.logo{
    object-fit:contain;
}

.instructions__text{
    font-size: $fssm;
}
.footer__button{
    font-size: 0.5rem;
    padding: .25rem 0.75rem;
}

.container__collection {
    grid-template-columns: repeat(1, 1fr);
}

.font{
    font-size: $fssm;
}

.title{
    font-size: $fsize;
    font-weight: bold;
}

.description{
    font-size: $fsize;
}
}